html {
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  background: gray;
  overflow: hidden;
  overflow-y: scroll;
  line-height: 1.25em;
}

#advent {
  position: fixed;
  top: 0;
  left: 0;
}

#advent.clicky {
  cursor: pointer;
}

#logo {
  left: 10vmin;
  position: absolute;
  top: 14vmin;
  width: 20vmin;
  z-index: 4000;
}

#logo img {
  max-width: 100%;
}

#popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#popup .today {
  background: rgba(185, 185, 185, 0.9);
  border-radius: 20px;
  margin: 10vmin 6vmin 6vmin;
  position: relative;
}

#popup .close {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
}

#popup .header,
#popup .body {
  display: block;
}

#popup .header {
  padding-top: 9.5vmin;
}

#popup .body {
  margin-bottom: 5vmin;
}

a {
  color: #e60684;
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

h1.title,
#popup .body {
  max-width: 60%;
  margin: 1em auto;
  text-align: center;
}

@media only screen and (max-aspect-ratio: 3/2) {
  #popup .body {
    /* margin: 2vmin 3vmin 5vmin; */
  }
  /*
  #popup .header,
  #popup .body {
    padding-left: 0;
  } */
}

h2.date {
  background: #fff none repeat scroll 0 0;
  color: #000;
  border: 6px dotted #e60684;
  border-radius: 50%;
  height: 10vmin;
  left: 48%;
  margin: 0;
  padding: 0.25em;
  position: absolute;
  text-align: center;
  top: -6vmin;
  width: 10vmin;
  line-height: 3.2vmin;
  font-weight: normal;
}

h2.date .day-num {
  display: block;
  padding: 1.8vmin 0 0.5vmin;
  font-size: 4vmin;
}

h2.date .month {
  font-size: 2.5vmin;
}

h1.title {
  font-weight: normal;
  line-height: 1.25em;
  font-size: 24px;
}

@media screen and (min-width: 1080px) {
  h1.title {
    font-size: 28px;
  }
}

h1 a {
  text-decoration: none;
}

@media only screen and (max-aspect-ratio: 1/1) {
  h2.date {
    left: 42%;
  }
}

#popup .day-image {
  padding: 0;
  margin: 1em auto 0;
}

#popup .day-image img,
#popup .day-image video {
  padding: 0;
  margin: 1em auto;
}

#popup .day-image video {
  width: 100% !important;
  height: auto !important;
  max-height: 55vh;
  margin: 1em auto;
}

#popup .synopsis {
  margin: 2em auto;
  max-width: 60%;
  margin: 1em auto;
  padding: 0;
  line-height: 1.4em;
  font-size: 18px;
  text-align: center;
}

@media only screen and (max-aspect-ratio: 3/2) {
  #popup .day-image,
  #popup .synopsis {
    width: 100%;
    max-width: 74vw;
    text-align: left;
  }
}

#popup .day-image img {
  max-width: 100%;
  max-height: 50vh;
}

#popup p.description {
  margin-top: 0;
}

@media only screen and (max-aspect-ratio: 3/2) {
  h1.title {
    width: 100%;
    max-width: 74vw;
    margin: 3.5em auto 1em;
    text-align: left;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  h2.date .day-num {
    padding: 0.45em 0 0;
  }

  #popup .body {
    max-width: 85%;
  }

  #popup .close {
    right: 20px;
    top: 10px;
  }

  h1.title {
    width: 100%;
    max-width: 74vw;
    margin: 3em auto 1em;
    text-align: left;
  }
}

#popup .caption {
  margin: 0 1em 1em;
  color: #666;
  font-size: small;
}

#popup .donate {
  margin: 2em 1em;
  padding: 1em 1em 0;
  background: #e6068417;
  font-size: 14px;
  border-radius: 5px;
  border: 2px dotted #e60684;
  max-width: ;
}

#popup .donate .donation {
  display: block;
  background: #e60684;
  color: #fff;
  padding: 0.5em;
  max-width: 4vw;
  border-radius: 5px;
  margin: 1em auto;
}

a.button {
  display: block;
  text-decoration: none;
}

a.button .fa {
  color: #000;
}

a.button:hover .fa {
  opacity: 0.5;
}
